@font-face {
	font-family: Comfortaa;
	src: url("../fonts/fonts-Comfortaa-VariableFont_wght.woff2");
	font-display: swap;
}

$contact-bg-color: #313340;
$default-color: #fff;
$main-bg-color: #2B8B7B;
$main-bg-gradient: linear-gradient(107.75deg, #4A9B8D 6.18%, #428F81 37.46%, #148773 81.25%);
$dark-green: #1A8875;
$mid-green: #2F6D62;
$light-green: #4A9B8D;
$black-color: #333;
$text-color: #333;
$text-dark-color: #333333;
$zindex-first: 1;
$zindex-second: 2;
$zindex-third: 3;
$zindex-fourth: 4;
$zindex-fiveth: 5;

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-color: #4A9B8D #313131;
	overflow-x: hidden;
}

html.unscroll {
	overflow: hidden;
}

html::-webkit-scrollbar {
	width: 1vw;
}

html::-webkit-scrollbar-thumb {
	background: #4A9B8D;
	transition: all 0.3s;
}

html::-webkit-scrollbar-thumb:hover {
	background: #17a18a;
}

html::-webkit-scrollbar-track {
	background: #313131;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

::selection {
	background-color: #078d7088;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	object-fit: cover;
	user-select: none;
	-webkit-user-drag: none;
}

button {
	color: inherit;
	font-size: inherit;
	background: transparent;
	border: none;
	font-family: inherit;
	padding: 0;
	cursor: pointer;
}

.container {
	width: 1260px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-size: 48px;
	font-weight: 600;
	line-height: 54px;
	position: relative;
	z-index: $zindex-first;

	& span {
		color: #333333;
	}
}

.text {
	font-size: 24px;
	font-weight: 300;
	line-height: 27px;

}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

body {
	min-width: 320px;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.3;
	overflow-x: hidden;
	color: $default-color;
}

// home

.home {
	background: $main-bg-gradient;
	position: relative;
}

// /home

// header

.header {
	transition: all .3s linear;

	&__inner {
		width: 100%;
		height: 97px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
		cursor: pointer;
	}

	&__logo-text {
		font-size: 20px;
		font-weight: 700;
	}

	&__menu {
		display: flex;
		gap: 25px;
		transition: all 0.3s linear;
		overflow: hidden;
	}

	&__menu-list {
		font-size: 16px;
		font-weight: 500;
		position: relative;
		overflow: hidden;
		transition: all 0.3s linear;

	}

	&__menu-link {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			height: 3px;
			width: 100%;
			left: 0;
			right: 0;
			bottom: -3px;
			background: $default-color;
			transform: translateX(-101%);
			transition: all 0.3s;

		}
	}

	&__menu-link:hover {
		&::after {
			transform: translateX(0%);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 10px;
		transition: all 0.3s ease;

		&.disactive {
			display: none;
		}
	}

	&-languages {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.languages-selctor {
		font-weight: 600;
		font-size: 16px;
		cursor: pointer;
		transition: all .3s ease;

		&:hover {
			color: $text-color;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		padding: 18px 21px;
		border: 1px solid $default-color;
		border-radius: 10px 5px;
		gap: 15px;
		font-size: 14px;
		font-weight: 600;
		transition: all 0.3s ease;
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: var(--y);
			left: var(--x);
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-radius: 50%;
			background: $default-color;
			transition: width 0.5s, height 0.5s;
		}

		& span {
			z-index: $zindex-first;
		}

		& svg {
			z-index: $zindex-first;
		}

		& svg path {
			transition: all .4s ease;
		}

		&:hover {
			color: $text-color;

			&::before {
				width: 400px;
				height: 400px;
			}

			& svg path {
				fill: $text-color;
			}
		}
	}

	&__burger {
		display: none;
		width: 35px;
		height: 35px;
		flex-wrap: wrap;
		gap: 4px;
		cursor: pointer;
	}

	&__burger.active {
		.header__burger-item {
			background: $text-color;
		}
	}

	&__burger-item {
		width: 15px;
		height: 15px;
		background: $default-color;
		border-radius: 4px;
		transition: all 0.2s linear;

	}

	.header__burger:hover .header__burger-item {
		background: $text-color;
	}

	&-img.active g path {
		fill: $text-color;
	}

	& .burger-languages {
		display: none;
	}
}

// /header

// top

.top {
	position: relative;
	display: flex;
	transition: all .3s;
	position: relative;
	left: 0;
	align-items: end;
	min-height: calc(100vh - 97px);
	min-width: 100%;
	overflow: hidden;

	&__wrapper {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	&-content {
		display: flex;
		transition: all .5s;
		position: relative;
		left: 0;
		height: 100%;
		min-width: 100%;
		margin: 0 auto;
		align-items: center;
	}

	.container {
		height: 100%;
	}

	&-line {
		min-width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__info {
		height: 100%;
		opacity: 0;
		transform: translateY(35%);
		transition: transform 0.6s, opacity 0.6s ease-in-out;
		display: flex;
		align-items: center;
		overflow: hidden;
		position: relative;
	}


	&__title {
		font-size: 48px;
		font-weight: 600;
		line-height: 53px;
		max-width: 560px;
		margin-bottom: 25px;
		position: relative;

		& span {
			color: $light-green;
		}
	}

	&-title-second {
		max-width: 800px;
	}

	&__text {
		font-size: 23px;
		font-weight: 300;
		max-width: 545px;
		margin-bottom: 85px;
		position: relative;
	}

	&__button {
		padding: 21px 27px;
		font-size: 16px;
		font-weight: 600;
		background: $default-color;
		border: 1px solid $default-color;
		border-radius: 10px 5px;
		color: $text-dark-color;
		position: relative;
		transition: all 0.3s ease;

		& a {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	&-img {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 500px;
	}

	&-arrow-left,
	&-arrow-right {
		position: absolute;
		top: 48%;
		cursor: pointer;
		z-index: $zindex-second;
	}

	&-arrow-left {
		left: 25px;
	}

	&-arrow-right {
		position: absolute;
		top: 50%;
		right: 25px;
		transform: rotate(180deg);
	}

	&__pagination {
		position: absolute;
		display: flex;
		gap: 25px;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__pagination-item {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background: $default-color;
		cursor: pointer;
		transition: all 0.4s;
	}

	&__pagination-item.top__pagination-item--active {
		background: $light-green;
		transform: rotate3d(1, 1, 1, 6rad);

	}

	&__inner .top-img {
		position: absolute;
	}

	& .english-contribution {
		max-width: 646px;
	}
}

.top {
	&-line.active {
		& .top__info {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

// /top	

// about

.about {
	color: $text-dark-color;

	&__inner {
		width: 100%;
		padding: 293px 0 169px;
		display: flex;
		justify-content: center;
		gap: 90px;
	}

	&-img {
		width: 600px;
		height: 390px;
		border-radius: 5px;
		opacity: 0;
		transform: translate(-120%, 0);
		cursor: pointer;
		transition: all .3s ease;
		z-index: $zindex-first;
		background: $main-bg-gradient;
		animation: about-skelet 0.6s linear infinite alternate;
	}

	&-img._active {
		transform: translate(0, 0);
		opacity: 1;

		&:hover {
			transform: scale(1.05);
		}
	}

	&-img.mobile {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__title {
		max-width: 372px;
		margin-bottom: 15px;
		transform: translate(0, 120%);
		opacity: 0;
		transition: all .4s ease;

		& span {
			color: $light-green;
		}
	}

	&__title._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__text {
		max-width: 540px;
		transform: translate(120%, 0);
		opacity: 0;
		transition: all 0.4s ease;
	}

	&__text._active {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes about-skelet {
	0% {
		background: hsl(170, 68%, 32%);
	}

	100% {
		background: hsl(170, 68%, 38%);
	}
}

// /about

// features

.features {
	background: $main-bg-gradient;
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		width: 173%;
		height: 340px;
		border-radius: 50%;
		background: $default-color;
		top: -172px;
		transform: translateX(-30px);
	}

	&__inner {
		padding: 350px 0 150px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		max-width: 842px;
		transform: translate(120%, 0);
		opacity: 0;
		transition: all 0.3s ease;
	}

	&__title._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__items {
		max-width: 869px;
		margin-top: 97px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 57px 0px;
	}

	&__item {
		width: 33.333%;
		display: flex;
		gap: 15px;
		flex-direction: column;
		align-items: center;
		transition: all 0.2s linear;
		cursor: pointer;

		&:hover {
			transform: scale(1.03);
		}

		& span {
			font-size: 24px;
			font-weight: 500;
			transform: scale(0);
			opacity: 0;
			transition: all 0.3s ease 0.1s;
		}

		& span._active {
			transform: scale(1);
			opacity: 1;
		}
	}

	&-img {
		min-height: 70px;
		min-width: 70px;
		transform: scale(0);
		opacity: 0;
		transition: all 0.3s ease;
	}

	&-img._active {
		transform: scale(1);
		opacity: 1;
	}

	&-img[data-src] {
		background: $default-color;
		border-radius: 50%;
		animation: features-skelet 0.6s linear infinite alternate;
	}
}

@keyframes features-skelet {
	0% {
		background: hsl(0, 0%, 80%);
	}

	100% {
		background: hsl(0, 0%, 100%);
	}
}

// /features

// blog

.blog {
	padding: 148px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 104px;
	}

	&__info {
		max-width: 565px;
		display: flex;
		flex-direction: column;
		color: $text-color;
	}

	&__title {
		max-width: 424px;
		margin-bottom: 22px;
		transform: translate(-120%, 0);
		transition: all 0.3s ease;
		opacity: 0;

		& span {
			color: $light-green;
		}
	}

	&__title._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__text {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 60px;
		transform: translate(-120%, 0);
		opacity: 0;
		transition: all 0.3s ease 0.1s;
	}

	&__text._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__end {
		display: flex;
		align-items: center;
		gap: 25px;

		& span {
			font-size: 24px;
			font-weight: 700;
			transform: scale(0);
			opacity: 0;
			transition: all 0.3s ease .1s;
		}

		& span._active {
			transform: scale(1);
			opacity: 1;
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		height: 85px;
		width: 85px;
		border: 1px solid $light-green;
		text-align: center;
		transform: scale(0);
		opacity: 0;
		position: relative;
		transition: all 0.3s ease;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 0;
			width: 0;
			background: #17a18a;
			background: $light-green;
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
		}

		& a svg {
			position: relative;
			z-index: $zindex-first;

			& path {
				transition: all 0.3s;
			}
		}

		&:hover {
			&::after {
				width: 100px;
				height: 100px;
			}

			& a svg path {
				fill: $default-color;
			}
		}
	}

	&__button._active {
		transform: scale(1);
		opacity: 1;
	}

	&__more {
		display: flex;
		flex-direction: column;
		gap: 80px;
	}

	&__more-item {
		position: relative;
		max-width: 520px;
		max-height: 303px;
		transform: translate(120%, 0);
		opacity: 0;
		transition: all 0.3s ease;
		border-radius: 15px;
		overflow: hidden;

		&:last-child {
			transition: all 0.3s ease .1s;
		}
	}

	&-video {
		width: 100%;
		min-height: 100%;
		position: relative;
		border-radius: 15px;
		overflow: hidden;
	}

	&-source {
		border-radius: 15px;
	}

	&__more-item._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__more-btn {
		width: 85px;
		height: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		opacity: 0.7;
		cursor: pointer;
		transition: all 0.3s;

		&.disactive {
			opacity: 0;
		}
	}
}

// /blog

// gallery

.gallery {
	background: $dark-green;

	img {
		max-width: none;
	}

	&__inner {
		padding: 93px 0 170px;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 75px;
		transform: scale(0);
		opacity: 0;
		transition: all 0.3s ease;
	}

	&__title._active {
		transform: scale(1);
		opacity: 1;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		max-width: 100%;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		// max-width: 500px;

		&:first-child {
			align-items: flex-end;
		}
	}

	&__row {
		display: flex;
		gap: 20px;

		& img {
			width: calc((100% - 20px) / 2);
		}

		&:first-child {
			align-items: flex-end;
		}
	}

	&-img {
		background: #D9D9D9;
		border-radius: 28px;
		transform: scale(0);
		opacity: 0;
		transition: all 0.3s ease;
		animation: gallery-skelet 0.6s linear infinite alternate;
	}

	&-img._active {
		transform: scale(1);
		opacity: 1;

		&:hover {
			transform: scale(1.03);
		}
	}

	.dog-1 {
		width: 346px;
		height: 314px;
	}

	.dog-2 {
		width: 413px;
		height: 516px;
	}

	.dog-3 {
		width: 347px;
		height: 314px;
	}

	.dog-4 {
		width: 425px;
		height: 184px;
	}

	.dog-5 {
		width: 794px;
		height: 321px;
	}

	.dog-6 {
		width: 347px;
		height: 323px;
	}

	.dog-7 {
		width: 430px;
		height: 208px;
	}
}

@keyframes gallery-skelet {
	0% {
		background: hsl(0, 0%, 75%);
	}

	100% {
		background: hsl(0, 0%, 85%);
	}
}

// /gallery

// team

.team {
	color: $text-color;
	padding-top: 190px;
	padding-bottom: 220px;
	overflow: hidden;

	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		max-width: 233px;
		transform: translate(-120%, 0);
		opacity: 0;
		transition: all 0.3s ease;

		& span {
			color: $light-green;
		}
	}

	&__title._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__text {
		max-width: 678px;
		position: relative;
		font-size: 24px;
		font-weight: 300;
		transform: translate(120%, 0);
		opacity: 0;
		transition: all 0.3s ease;

		& span {
			font-weight: 500;
		}
	}

	&__text._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__slider {
		margin-top: 80px;
		width: 150%;
		margin-left: -25%;
		overflow-x: hidden;
	}

	&__slider-line {
		width: calc(455px * 8);
		display: inline-flex;
		gap: 110px;
		justify-content: center;
		animation: scroll 16s linear infinite;

		&:hover {
			animation-play-state: paused;
		}
	}

	&__item {
		width: 345px;
		height: 500px;
		filter: grayscale(1);
		transition: filter 0.3s linear, transform 0.22s linear;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: end;
		overflow: hidden;
		background: $dark-green;
		animation: team-skelet 0.6s infinite alternate;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:hover {
			filter: grayscale(0);

			& .team__row {
				transform: translateY(0);
			}
		}
	}

	&__item[data-src] {
		filter: grayscale(0);
	}


	&__row {
		position: absolute;
		bottom: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateY(100%);
		transition: transform 0.4s ease;
		left: 0;
		right: 0;
		bottom: 0;
		height: 150px;
		width: 100%;
		background-color: $contact-bg-color;
		color: $default-color;
		padding-bottom: 15px;

		&>&::after {
			position: relative;
		}

		&::after {
			content: "";
			position: absolute;
			top: -28px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 28px solid transparent;
			border-right: 28px solid transparent;
			border-bottom: 30px solid $contact-bg-color;
		}
	}


	&-worker-name {
		font-size: 21px;
		font-weight: 500;
		margin-top: 10px;
	}

	&-worker-text {
		font-size: 14px;
		font-weight: 300;
		max-width: 180px;
		text-align: center;
		margin-top: 5px;
	}

	&-worker-line {
		width: 85%;
		height: 1px;
		background: $default-color;
		margin: 10px 0 0;
	}

	&-worker-social {
		margin-top: 10px;
		display: flex;
		gap: 15px;
	}

	&-social {
		max-width: 30px;
		max-height: 30px;
		cursor: pointer;
		opacity: 0;
		transition: all .3s;

		&:hover {
			transform: scale(1.1);
		}
	}

	.container .team__slider {
		max-width: 150%;
	}
}

.team__item:hover .team-social {
	opacity: 1;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(calc(-455px * 4));
	}
}

@keyframes team-skelet {
	0% {
		background: hsl(170, 74%, 30%);
	}

	100% {
		background: hsl(170, 74%, 35%);
	}
}

// /team

// contact

.contact {
	background: $contact-bg-color;

	&__inner {
		padding: 100px 0 126px;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		margin-bottom: 25px;
	}

	&__column {
		display: flex;
		flex-direction: column;

		&:first-child {
			max-width: 575px;
		}

		&:last-child {
			max-width: 600px;
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&-input {
		width: 100%;
		height: 70px;
		border: 1px solid $default-color;
		background: transparent;
		outline: none;
		padding: 0 20px;
		border-radius: 5px;
		font-size: 24px;
		color: $default-color;
		transition: all 0.3s ease;

		&::placeholder {
			font-family: Comfortaa;
			font-size: 20px;
			font-weight: 300;
			line-height: 22px;
			color: $default-color;
		}

		&:nth-child(2) {
			transition: all 0.3s ease 0.025s;
		}

		&.error {
			border: 2px solid #9b1717;
			color: #9b1717;

			&::placeholder {
				color: #9b1717;
			}
		}

		&.succes {
			border: 1px solid $light-green;

			&::placeholder {
				color: $light-green;
			}
		}
	}

	.anim-input {
		transform: translate(-120%, 0);
		opacity: 0;
	}

	.anim-input._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&-sent-input {
		width: 100%;
		border-radius: 5px;
		position: relative;
		transform: translate(-120%, 0);
		opacity: 0;
		transition: all 0.3s ease 0.05s;

		& input {
			padding: 0 200px 0 20px;
		}
	}


	&-sent-input._active {
		transform: translate(0, 0);
		opacity: 1;
	}

	&__button {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 26px 42px;
		background: $default-color;
		border: 2px solid $default-color;
		color: $black-color;
		border-radius: 5px;
		font-size: 16px;
		font-weight: 700;
		transition: all 0.3s;
	}

	&__nav {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&-item a {
		display: flex;
		align-items: center;
		gap: 15px;

		& img {
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
		}

		&:hover {
			& img {
				transform: scale(1.1);
				box-shadow: 0 0 4px $light-green;
			}
		}
	}

	&__map {
		width: 600px;
		height: 344px;
		border-radius: 8px;
		position: relative;
		overflow: hidden;
		background: $text-color;
		animation: contact-skelet 0.6s linear infinite alternate;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: url(../images/contact/map.svg);
			background-size: cover;
			width: 50px;
			height: 61px;
			z-index: $zindex-first;
			cursor: pointer;
			transition: all 0.3s;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border-radius: 8px;
			background: rgba(0, 0, 0, 0.6);
			transition: all 0.5s;

		}
	}

	&__map.active {

		&::before,
		&::after {
			opacity: 0;
			z-index: -1;
		}

	}

	&-iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
}

@keyframes contact-skelet {
	0% {
		background: hsl(0, 0%, 20%);
	}

	100% {
		background: hsl(0, 0%, 40%);
	}
}

// /contact

.main.disactive {
	display: none;
}

// footer

.footer {
	background: $contact-bg-color;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 4px solid $light-green;
		border-radius: 2px;
		padding: 25px 0 40px;
	}

	&__copyright {
		font-size: 20px;
		font-weight: 700;
	}

	&__social {
		display: flex;
		gap: 25px;
	}

	&__item {
		cursor: pointer;
		transition: all 0.3s;
		border-radius: 50%;
		overflow: hidden;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.footer.disactive {
	display: none;
}

// /footer

// popup

.popup {
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: $zindex-second;
	padding: 72px 111px;
	transform: scale(0);
	transition: all 0.4s ease;

	&-img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
		cursor: pointer;
	}
}

.popup.active {
	opacity: 1;
	transform: scale(1);
}

// /popup

// pay

.pay {
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	padding: 45px;
	background: #fff;
	z-index: -1;
	opacity: 0;
	color: $text-color;
	transform: translateX(-100%);
	scrollbar-color: #4A9B8D #313131;
	overflow: hidden;
	transition: transform 0.5s, opacity 0.6s, z-index 0.5s;

	&__header {
		width: 100%;
		height: 78px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& img {
			cursor: pointer;
		}
	}

	&__wrapper {
		height: 100%;
		width: 100%;
	}

	&__container {
		height: calc(100% - 40px);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		max-width: 1500px;
		margin: 0 auto;
		// padding: 0 10px;
	}

	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 30px;
	}

	&__row {
		width: 100%;
		margin-top: 91px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5%;
	}

	&__title {
		max-width: 663px;
		font-size: 64px;
		font-weight: 600;
		line-height: 71px;
		color: $light-green;
		margin-bottom: 20px;
	}

	&__text {
		max-width: 809px;
		font-size: 28px;
		font-weight: 400;
	}

	&-qr {
		width: 392px;
		height: 392px;
	}

	&__more {
		width: 100%;
		margin-top: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__button {
		height: 89px;
		width: 32%;
		display: flex;
		align-items: center;
		gap: 20px;
		border: 2px solid #2F6D62;
		border-radius: 10px;
		padding: 0 25px;
		font-size: 24px;
		font-weight: 600;
		color: #2F6D62;
		cursor: pointer;
		transition: all .3s;
	}
}

.pay.active {
	z-index: $zindex-third;
	opacity: 1;
	transform: translateX(0);
}

// /pay

// card

.card {
	overflow: hidden;
	display: flex;
	position: absolute;
	flex-direction: column;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	min-height: 100vh;
	width: 100%;
	padding: 30px 45px 44px;
	background: #fff;
	// z-index: -1;
	opacity: 0;
	color: $text-color;
	transform: translateX(100%);
	transition: transform 0.5s, opacity 0.6s;

	&__header {
		width: 100%;
		height: 78px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& img {
			cursor: pointer;
		}
	}

	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__container {
		height: calc(100% - 97px);
		width: 1520px;
		margin: 0 auto;
		height: auto;
		padding: 0 10px;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__buy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 135px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__item-row {
		width: 324px;
		height: 74px;
		border: 2px solid $light-green;
		border-radius: 10px;
		display: flex;
		overflow: hidden;
	}

	&__row-lable {
		display: flex;
		gap: 121px;
	}

	&__lable {
		font-family: Comfortaa;
		font-size: 20px;
		font-weight: 700;
		color: $light-green;
	}

	&__input {
		font-family: Comfortaa;
		width: 100%;
		outline: none;
		border: none;
		font-size: 24px;
		font-weight: 700;
		padding: 0 20px;

	}

	&__hr {
		height: 90%;
		width: 1px;
		margin: auto 0;
		background: $light-green;
		border-radius: 3px;
	}

	&-select {
		background: transparent;
		min-width: 112px;
		border: none;
		outline: none;
		font-family: Comfortaa;
		font-size: 24px;
		font-weight: 700;
		line-height: 27px;
		display: flex;
		justify-content: center;
		align-items: center;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		padding-left: 9%;

		&::-ms-expand {
			display: none;
		}

		& option {
			font-family: Comfortaa;
			background: transparent;
			position: relative;
			width: 100%;
			height: 30px;
			// background: #17a18a;
			color: #000;
			border: 1px solid #222;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;

		}

	}

	&__about {
		margin-right: 153px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__bank {
		width: 546px;
		height: 305px;
		border-radius: 24px;
		position: relative;
		border-radius: 25px;
		z-index: $zindex-first;
		background: linear-gradient(112.48deg, rgba(255, 255, 255, 0.1) 6.31%, rgba(255, 255, 255, 0) 98.51%);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		backdrop-filter: blur(20px);
		border-radius: 24px;
		margin-bottom: 103px;

		&::after {
			content: "";
			position: absolute;
			top: -120px;
			right: -120px;
			width: 325px;
			height: 325px;
			background: #4A9B8D;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			transform: matrix(0.62, -0.79, 0.83, 0.56, 0, 0);
			border-radius: 50%;
			z-index: -1;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: -60px;
			left: -80px;
			width: 205px;
			height: 205px;
			background: #5BB6A6;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			transform: matrix(-0.58, 0.82, -0.85, -0.52, 0, 0);
			border-radius: 50%;
			z-index: -1;
		}
	}

	&__bank-inner {
		border-radius: 25px;
		width: 100%;
		height: 100%;
		// background: #FF8484;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(20px);
		border-radius: 24px;
		mix-blend-mode: overlay;
		position: relative;
		overflow: hidden;
		padding: 12px 25px 24px;
	}

	&-img {
		max-width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $zindex-first;
		opacity: 0.2;
	}

	&__bank-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 75px;
	}

	&__bank-logo {
		display: flex;
		align-items: center;
		gap: 13px;

		& span {
			font-size: 14px;
			font-weight: 400;
		}
	}

	&__bank-content {
		width: 100%;
		height: calc(100% - 75px);
		padding-top: 45px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__bank-more {
		display: flex;
		gap: 35px;
		color: $text-dark-color;
	}

	&__bank-text {
		font-size: 32px;
		font-weight: 700;
	}

	&__bank-date {
		font-size: 14px;
		font-weight: 400;
	}

	&__bank-value {
		font-weight: 700;
		font-size: 16px;
	}

	&__about-btn {
		padding: 31px 89px;
		background: $mid-green;
		border: 2px solid $mid-green;
		font-weight: 700;
		font-size: 24px;
		color: #fff;
		box-shadow: 0px 3px 27px rgba(104, 234, 211, 0.4);
		border-radius: 10px;
		transition: all 0.3s;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;

		& span {
			position: relative;
			z-index: $zindex-first;
		}

		&::before {
			content: "";
			position: absolute;
			top: var(--y);
			left: var(--x);
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-radius: 50%;
			background: $default-color;
			transition: width 0.5s, height 0.5s;
		}

		&:hover {
			// background: transparent;
			color: $mid-green;

			&::before {
				width: 700px;
				height: 700px;
			}

			& span {
				color: $mid-green;
			}
		}
	}
}

.card.active {
	z-index: $zindex-third;
	opacity: 1;
	transform: translateX(0);
}

// /card		

// loader

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $main-bg-gradient;
	z-index: $zindex-fiveth;
	transition: background 0.2s, opacity 0.6s, z-index 0.6s linear;

	&-paw {
		position: relative;
		width: 300px;
		height: 300px;
		background-image: url("../images/progres.svg");
		background-size: cover;
		overflow: hidden;
		z-index: $zindex-first;
		transition: opacity 0.1s, transform .7s;
		animation: bounce 0.7s 2.1s;
		user-select: none;
		-webkit-user-select: none;
	}

	&-progres {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: $zindex-second;
		background-image: url("../images/loader.svg");
		background-size: cover;
		background-position: top;
		animation: loader-start 3s;
		transition: opacity 0.1s, transform 0.3s;
		-webkit-user-select: none;
		user-select: none;
	}

	@keyframes bounce {
		0% {
			transform: translateY(0);
		}

		25% {
			transform: translateY(-40px);
		}

		100% {
			transform: translate(0);
		}
	}

	@keyframes loader-start {
		0% {
			height: 300px;
		}

		100% {
			height: 0px;
		}
	}
}

.loader.loader--done {
	& .loader-paw {
		cursor: pointer;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.loader.loader--disactive {
	background: $default-color;
	opacity: 0;
	z-index: -1;

	& .loader-paw {
		opacity: 0;
		cursor: pointer;
	}

	& .loader-progres {
		opacity: 0;
	}
}

// /loader

// payment

.payment {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	background: $default-color;
	opacity: 0;
	transition: background 0.1s, opacity 0.6s, z-index 0.6s linear;

	&-box {
		height: 225px;
		width: 220px;
		background-color: rgba(255, 255, 255, 0.8);
		position: relative;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-loader {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0;
		top: 0;
		background: #148773;
		animation: loop 4s infinite alternate;
		transition: transform 0.6s;
		z-index: -1;
		border-radius: 8px;
	}

	&-content {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		// box-shadow: 0 0 10px $contact-bg-color;
		border: 2px solid $contact-bg-color;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-image: url("../images/loader.svg");
		background-size: cover;
		transition: transfrom 0.3s;

		&.active {
			animation: rotate 2.4s 0.3s alternate;
		}
	}
}

.payment.active {
	z-index: $zindex-third;
	background: $contact-bg-color;
	opacity: 1;
}

@keyframes loop {
	0% {
		transform: rotate(90deg);
	}

	40% {
		transform: rotate(0deg);
	}

	60% {
		transform: rotate(-90deg);
	}

	75% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate3d(1, 1, 1, 0deg);
	}

	50% {
		transform: rotate3d(1, 1, 1, -75deg);

	}

	75% {
		transform: rotate3d(1, 1, 1, 60deg);
		background-image: url("../images/progres.svg");
	}
}

// /payment

// @media

// main media height

@media (max-height: 820px) {
	.pay {
		&__title {
			max-width: 515px;
			font-size: 44px;
			line-height: 48px;
		}

		&__text {
			max-width: 675px;
			font-size: 24px;
		}

		&__row {
			margin-top: 75px;

		}

		&-qr {
			width: 350px;
			height: 350px;
		}

		&__button {
			height: 80px;
		}
	}

	.card {
		padding: 30px 45px;

		&__buy {
			margin-top: 100px;
		}

		&__bank {
			width: 530px;
			height: 290px;
			margin-bottom: 75px;

			&::after {
				top: -90px;
				right: -90px;
				width: 275px;
				height: 275px;
			}

			&::before {
				bottom: -50px;
				left: -60px;
				width: 175px;
				height: 175px;
			}
		}

		&__form {
			gap: 15px;
		}

		&__item-row {
			height: 69px;
		}

		&__input {
			font-size: 22px;
		}
	}
}

@media (max-height: 700px) {
	.top {
		&__text {
			margin-bottom: 40px;
		}

		&-img {
			max-height: 500px;
		}
	}

	.pay {
		&__row {
			margin-bottom: 3%;
		}

		&__title {
			margin-bottom: 10px;
		}

		&-qr {
			width: 325px;
			height: 325px;
		}
	}

	.card {
		padding: 20px 45px;

		&__form {
			gap: 10px;
		}

		&__item {
			gap: 3px;
		}

		&__lable {
			font-size: 18px;
		}

		&__item-row {
			height: 64px;
		}

		&__input {
			font-size: 21px;
		}

		&__buy {
			margin-top: 80px;
		}

		&__about {
			margin-right: 90px;
		}

		&__bank {
			height: 280px;
			margin-bottom: 75px;

			&::after {
				top: -65px;
				right: -40px;
				width: 240px;
				height: 240px;
			}

			&::before {
				bottom: -45px;
				left: -50px;
				width: 165px;
				height: 165px;
			}
		}

		&__bank-text {
			font-size: 30px;
		}
	}
}

@media (max-height: 644px) {
	.top {
		min-height: 700px;
	}

	.card {
		&__buy {
			margin-top: 0;
		}

		&__bank {
			width: 520px;
			height: 250px;
			// padding: 12px 20px 16px;

			&::after {
				top: -50px;
				right: -45px;
				width: 215px;
				height: 215px;
			}

			&::before {
				left: -40px;
				bottom: -50px;
				width: 150px;
				height: 150px;
			}

			&__bank-content {
				margin-bottom: 25pxc;
			}
		}

		&__about-btn {
			height: 70px;
			font-size: 21px;
		}
	}
}

// main media width

@media (max-width:1440px) {
	.top {
		&-arrow {
			display: none;
		}
	}

	.gallery {
		&__inner {
			padding: 90px 0;
		}

		&__items {
			max-width: none;
		}

		&__title {
			margin-bottom: 40px;
		}

		.dog-1 {
			width: 288px;
			height: 261px;
		}

		.dog-2 {
			width: 344px;
			height: 430px;
		}

		.dog-3 {
			width: 289px;
			height: 261px;
		}

		.dog-4 {
			width: 354px;
			height: 153px;
		}

		.dog-5 {
			width: 661px;
			height: 267px;
		}

		.dog-6 {
			width: 289px;
			height: 269px;
		}

		.dog-7 {
			width: 354px;
			height: 173px;
		}

		&__items {
			gap: 15px;
		}

		&__row {
			gap: 15px;
		}

		&__column {
			gap: 15px;
		}

		&-img {
			border-radius: 15px;
		}
	}
}

@media (max-width:1260px) {
	.container {
		width: 1054px;
	}

	.title {
		font-size: 40px;
		line-height: 44px;
	}

	.top {
		&__info {
			justify-content: center;
			text-align: center;
		}

		&-img {
			max-width: 300px;
		}

		&__text {
			margin: 0 auto 85px;
		}
	}

	.header {
		&__menu {
			gap: 20px;
		}

		&__menu-list {
			font-size: 15px;
		}
	}

	.about {
		&__inner {
			padding: 200px 0 160px;
		}

		&__text {
			font-size: 18px;
		}
	}

	.blog {
		padding: 75px 0;

		&__more {
			gap: 20px;
		}
	}

	.contact {
		&-input {
			width: 100%;
		}

		&-sent-input {
			width: 100%;

			& input {
				padding: 0 175px 0 20px;
			}
		}

		&__button {
			padding: 15px 30px;
		}

		&__map {
			max-width: 500px;
			border-radius: 12px;
		}
	}

	.pay {

		&-logo {
			height: 65px;
		}

		&-close {
			height: 50px;
			width: 50px;
		}

		&__row {
			margin-top: 0;
		}

		&__button {
			height: 70px;

			& svg {
				width: 30px;
			}
		}

		&__title {
			font-size: 41px;
			line-height: 45px;
			max-width: 395px;
		}

		&__text {
			max-width: 595px;
			font-size: 21px;
		}

		&-qr {
			width: 275px;
			height: 275px;
		}
	}

	.card {
		padding: 20px 30px;

		&-logo {
			height: 65px;
		}

		&-close {
			height: 50px;
			width: 50px;
		}

		&__bank-content {
			padding-top: 10px;
		}

		&__bank-text {
			font-size: 24px;
		}

		&__buy {
			margin-top: 0;
		}

		&__bank {
			width: 465px;
			height: 250px;
			margin-bottom: 40px;

			&::after,
			&::before {
				display: none;
			}
		}

		&__about {
			margin-right: 0;
		}

		&__about-btn {
			padding: 20px 80px;
		}
	}
}

@media (max-width: 1054px) {
	.container {
		width: 988px;
		padding: 0 10px;
	}

	.header {
		&__menu {
			position: absolute;
			right: 0;
			left: 0;
			top: 97px;
			bottom: 0;
			background: rgba(255, 255, 255, 0.8);
			backdrop-filter: blur(10.5px);
			color: $text-dark-color;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transform: translateX(-100%);
			transition: transform 0.8s;
			z-index: $zindex-fourth;
		}

		&__menu.active {
			transform: translateX(0%);
		}

		&__logo-text {
			display: none;
		}

		&__menu-list {
			transition: all 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		&__menu-link {
			font-size: 28px;

			&::after {
				display: none;
			}
		}

		&__burger {
			display: flex;
		}

		&__button.disactive {
			display: none;
		}
	}

	.header.active {
		background: rgba(255, 255, 255, 0.8);
	}

	.top {
		&__title {
			max-width: 545px;
			font-size: 42px;
			line-height: 46px;
			margin-bottom: 20px;
		}

		&-title-second {
			max-width: 695px;
		}

		&__text {
			font-size: 22px;
			margin: 0 auto 40px;
		}
	}

	.about {
		&__inner {
			padding: 120px 0;
			flex-direction: column-reverse;
			align-items: center;
		}

		&__info {
			width: 600px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	.blog {
		&__inner {
			flex-direction: column;
			gap: 60px;
		}

		&__more {
			flex-direction: row;
			gap: 40px;
		}

		&__more-item {
			width: 50%;
		}

		&__info {
			align-items: center;
			text-align: center;
			margin: 0 auto;
			max-width: 777px;
		}

		&__text {
			margin-bottom: 25px;
		}

		&__inner {
			gap: 25px;
		}
	}

	.gallery {
		.dog-1 {
			width: 240px;
			height: 217px;
		}

		.dog-2 {
			width: 286px;
			height: 358px;
		}

		.dog-3 {
			width: 240px;
			height: 217px;
		}

		.dog-4 {
			width: 295px;
			height: 126px;
		}

		.dog-5 {
			width: 550px;
			height: 222px;
		}

		.dog-6 {
			width: 240px;
			height: 185px;
		}

		.dog-7 {
			width: 295px;
			height: 144px;
		}
	}

	.team {
		padding: 75px 0 120px;

		&__info {
			flex-direction: column;
			text-align: center;
			align-items: center;
			gap: 10px;
		}

		&__title {
			max-width: none;
		}

		&__item {
			&:hover {
				filter: grayscale(0);
				transform: scale(1)
			}
		}
	}

	.contact {
		&-input {
			width: 90%;
		}

		&-sent-input {
			width: 90%;

			& input {
				padding: 0 150px 0 20px;
			}
		}

		&__map {
			max-width: 475px;
		}
	}
}

@media (max-width: 988px) {
	.container {
		width: 864px;
	}

	.top {
		&-img {
			max-width: 275px;
		}
	}

	.popup {
		padding: 25px 30px;
	}

	.gallery {
		.dog-1 {
			width: 184px;
			height: 166px;
		}

		.dog-2 {
			width: 220px;
			height: 275px;
		}

		.dog-3 {
			width: 184px;
			height: 166px;
		}

		.dog-4 {
			width: 226px;
			height: 96px;
		}

		.dog-5 {
			width: 423px;
			height: 170px;
		}

		.dog-6 {
			width: 184px;
			height: 142px;
		}

		.dog-7 {
			width: 226px;
			height: 110px;
		}
	}

	.team {
		&__slider-line {
			width: calc(300px * 8);
			gap: 50px;
		}

		&__item {
			width: 250px;
			height: 355px;
		}
	}

	.contact {
		&__inner {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}

		&__column {
			display: flex;
			align-items: center;
		}

		&__nav {
			align-items: center;
			flex-direction: column-reverse;
			font-size: 20px;
		}

		&__title.hello-title {
			display: none;
		}

		&-input {
			width: 100%;
		}

		&-sent-input {
			width: 100%;

			& input {
				padding: 0 200px 0 20px;
			}
		}

		&__button {
			padding: 26px 42px;
		}

		&__map {
			max-width: 515px;
		}
	}

	@keyframes scroll {
		0% {
			transform: translateX(0%);
		}

		100% {
			transform: translateX(calc(-300px * 4));
		}

	}

	.pay {
		padding: 25px 30px;

		&__title {
			font-size: 31px;
			line-height: 36px;
			max-width: 350px;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 16px;
			max-width: 460px;
		}

		&-qr {
			width: 200px;
			height: 200px;
		}

		&__button {
			font-size: 19px;
			gap: 10px;
		}
	}

	.card {
		&__bank {
			width: 420px;
			height: 225px;
		}

		&__item-row {
			width: 300px;
		}

		&__row-lable {
			gap: 110px;
		}
	}
}

@media(max-width: 864px) {
	.container {
		width: 744px;
	}

	.top {
		&-title-second {
			font-size: 32px;
			line-height: 36px;
			max-width: 540px;
		}

		&-img {
			max-width: 250px;
		}

		.english-contribution {
			max-width: 575px;
		}
	}

	.card {
		&__bank {
			display: none;
		}

		&__buy {
			gap: 15px;
			flex-direction: column;
		}

		&__item-row {
			width: 380px;
		}

		&__about-btn {
			width: 380px;
			height: 70px;
			font-size: 21px;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media(max-width: 744px) {
	.container {
		width: 628px;
	}

	.header {
		&-languages {
			display: none;
		}

		.burger-languages {
			display: flex;
			flex-direction: row;
			gap: 15px;
			font-size: 24px;
		}

		.header__burger:hover .header__burger-item {
			background: $default-color;
		}

		.header__burger.active:hover .header__burger-item {
			background: $text-color;
		}
	}

	.top {
		&-img {
			max-width: 200px;
		}
	}

	.about {
		&__inner {
			gap: 45px;
		}
	}

	.features {
		&__title {
			font-size: 36px;
			line-height: 40px;
		}

		&__item {
			width: 50%;
		}
	}

	.blog {
		&__more {
			margin: 0 auto;
			flex-direction: column;
		}

		&__more-item {
			width: 100%;
		}
	}

	.gallery {

		&-img {
			border-radius: 10px;
		}

		&__items {
			gap: 10px;
			max-width: 100%;
		}

		&__column {
			gap: 10px;
		}

		&__row {
			gap: 10px;
		}

		.dog-1 {
			width: 153px;
			height: 138px;
		}

		.dog-2 {
			width: 183px;
			height: 229px;
		}

		.dog-3 {
			width: 153px;
			height: 138px;
		}

		.dog-4 {
			width: 188px;
			height: 80px;
		}

		.dog-5 {
			width: 352px;
			height: 141px;
		}

		.dog-6 {
			width: 153px;
			height: 118px;
		}

		.dog-7 {
			width: 188px;
			height: 81px;
		}
	}

	.pay {
		&__content {
			flex-direction: row;
		}

		&__row {
			flex-direction: column;
			align-items: initial;
			margin-bottom: 0;
		}

		&__more {
			flex-direction: column;
			margin-top: 0;
			align-items: end;
			width: auto;
			height: 100%;
		}

		&__text {
			font-size: 14px;
			max-width: 375px;
		}

		&__button {
			width: 200px;
		}

		&-qr {
			margin-top: 10px;
		}
	}

	@media (max-height: 580px) {
		.top {
			min-height: 500px;
		}
	}
}

@media(max-width: 628px) {
	.container {
		width: 560px;
	}

	.top {
		&__title {
			margin: 0 auto 20px;
		}

		&-title-second {
			font-size: 28px;
			line-height: 34px;
			max-width: 465px;
		}

		&__text {
			font-size: 19px;
			max-width: 450px;
		}
	}

	.about {
		&__info {
			max-width: 600px;
			width: auto;
		}
	}

	.features {

		&::after {
			width: 301%;
			height: 255px;
			top: -192px;
			transform: translateX(-126px);
		}

		&__inner {
			padding: 150px 0;
		}

		&__title {
			font-size: 30px;
			line-height: 34px;
		}

		&__items {
			margin-top: 60px;
		}

	}

	.pay {
		padding: 15px;

		&-logo {
			height: 50px;
		}

		&-close {
			height: 35px;
			width: 35px;
		}

		&__content {
			flex-direction: column;
		}

		&__row {
			flex-direction: column;
			text-align: center;
			align-items: center;
		}

		&__more {
			width: 100%;
			flex-direction: row;
			margin-top: 5%;
			justify-content: space-evenly;
		}

		&__info {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__title {
			max-width: 310px;
			font-size: 21px;
			line-height: 24px;
		}

		.english-pay-title {
			max-width: 243px;
		}

		&__text {
			max-width: none;
			// display: none;
		}

		&__button {
			height: 75px;
			width: 75px;

			& svg {
				width: 60px;
				height: 60px;
			}

			& span {
				display: none;
			}
		}

		&-qr {
			width: 185px;
			height: 185px;
		}
	}
}

@media(max-width: 560px) {
	.container {
		width: 494px;
	}

	.header {
		&__menu-link {
			font-size: 24px;
		}

		.burger-languages {
			font-size: 20px;
		}
	}

	.top {
		&-img {
			max-width: 175px;
		}

		.english-paw {
			font-size: 40px;
			line-height: 44px;
		}

		.english-contribution {
			max-width: 370px;
		}
	}

	.about {
		&__info {
			align-items: center;
			text-align: center;
		}

		&__img {
			height: 225px;
			width: 125%;

			& img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.blog {
		&__text {
			font-size: 19px;
		}

		&__more-btn {
			height: 60px;
			width: 60px;
		}
	}

	.gallery {
		&-img {
			min-width: 100%;
			border-radius: 20px;
		}

		&__items {
			display: block;
		}

		&__row {
			flex-direction: column;
			gap: 35px;
		}

		&__column {
			margin: 0 auto;
			max-width: 300px;
			gap: 35px;

			&:first-child {
				align-items: initial;
				margin-bottom: 35px;
			}
		}

		.dog-1 {
			height: 289px;
		}

		.dog-2 {
			height: 399px;
		}

		.dog-3 {
			height: 289px;
		}

		.dog-4 {
			height: 138px;
			order: -1;
		}

		.dog-5 {
			width: 300px;
			height: 184px;
		}

		.dog-6 {
			height: 297px;
		}

		.dog-7 {
			height: 277px;
		}
	}

	.contact {
		&__map {
			max-width: 475px;
			height: 300px;
		}
	}
}

@media(max-width: 494px) {
	.container {
		width: 430px;
		padding: 0 5px;
	}

	.header {
		&__button {
			padding: 16px 32px;
			gap: 10px;
			font-size: 13px;

			& svg {
				display: none;
			}
		}
	}

	.top {
		&__title {
			font-size: 30px;
			line-height: 36px;
		}

		&-title-second {
			font-size: 21px;
			line-height: 25px;
			max-width: 350px;
		}

		.english-paw {
			font-size: 32px;
			line-height: 36px;
		}

		&__text {
			font-size: 16px;
			max-width: 380px;
			margin: 0 auto 25px;
		}

		&__button {
			padding: 18px 25px;

			& svg {
				display: none;
			}
		}
	}

	.popup {
		padding: 10px;
	}

	.features {
		&__title {
			font-size: 28px;
			line-height: 32px;
		}

		&__item {
			width: 100%;
		}
	}

	.blog {
		&__text {
			margin-bottom: 25px;
		}

		&__inner {
			gap: 25px;
		}
	}

	.team {
		&__text {
			max-width: none;
			font-size: 20px;
		}
	}

	.contact {
		&__nav {
			font-size: 16px;
		}

		&__map {
			max-width: 420px;
			height: 250px;

			&::before {
				width: 40px;
				height: 49px;
			}
		}
	}

	.footer {
		&__inner {
			flex-direction: column;
			align-items: center;
			gap: 25px;
		}
	}

	.loader {
		&-paw {
			width: 200px;
			height: 200px;
		}
	}

	@keyframes loader-start {
		0% {
			height: 200px;
		}

		100% {
			height: 0;
		}
	}
}

@media(max-width: 430px) {
	.top {
		&__text {
			font-size: 14px;
			max-width: 330px;
		}

		&__title {
			font-size: 28px;
			line-height: 32px;
		}

		&-title-second {
			font-size: 18px;
			line-height: 22px;
			max-width: 305px;
		}

		&-img {
			max-width: 150px;
		}

		.english-paw {
			font-size: 30px;
			line-height: 34px;
		}

		.english-contribution {
			max-width: 330px;
		}
	}

	.about {
		&__inner {
			gap: 20px;
		}

		&__text {
			font-size: 16px;
		}
	}

	.container {
		width: 380px;
	}

	.features {
		&__title {
			font-size: 24px;
			line-height: 28px;
		}
	}

	.blog {
		&__title {
			font-size: 34px;
			line-height: 38px;
		}

		&__text {
			font-size: 16px;
		}
	}

	.contact {
		&__button {
			padding: 20px;
		}

		&-input {
			font-size: 21px;
		}

		&-sent-input {
			& input {
				padding: 0 145px 0 20px;
			}
		}

		&__map {
			max-width: 370px;
			height: 225px;
		}
	}

	.card {
		padding: 15px;

		&-logo {
			height: 50px;
		}

		&-close {
			width: 35px;
			height: 35px;
		}

		&__about-btn {
			width: 300px;
			height: 60px;
		}

		&__item-row {
			width: 300px;
			height: 60px;
		}

		&__form {
			gap: 8px;
		}

		&__buy {
			gap: 10px;
		}

		&__lable {
			font-size: 16px;
		}
	}
}

@media(max-width: 380px) {
	.container {
		width: 320px;
	}

	.top {
		.english-paw {
			max-width: 300px;
			font-size: 25px;
			line-height: 28px;
		}

		.english-contribution {
			max-width: 235px;
		}
	}

	.blog {
		&__text {
			font-size: 14px;

		}
	}

	.contact {
		.contact-item {
			font-size: 13px;
		}

		&__map {
			max-width: 310px;
			height: 200px;
		}
	}

	@media (max-height: 590px) {
		.top {
			&-img {
				max-width: 75px;
			}
		}
	}

	@media (max-height: 590px) {
		.pay {
			&__container {
				justify-content: start;
			}
		}

		.card {
			&__wrapper {
				align-items: start;
			}
		}
	}
}

@media (max-width: 320px) {
	@media (max-height: 568px) {
		.pay {
			&-qr {
				display: none;
			}
		}
	}
}